<mat-label> Lista de Formularios</mat-label>
<hr>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="formularioId">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.formularioId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="formularioNombre">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.formularioNombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="formularioUrl">  
      <th mat-header-cell *matHeaderCellDef> Url </th>
      <td mat-cell *matCellDef="let element"> {{element.formularioUrl}} </td>
    </ng-container>
  
    <ng-container matColumnDef="formularioFecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.formularioFecha}} </td>
    </ng-container>
  
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button class="menu-button" [routerLink]="['/panel/formulario/formularioEdit/', element.formularioId]">
                <mat-icon>edit</mat-icon>
            </button>      
        </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button class="menu-button">
                <mat-icon>delete</mat-icon>
            </button>      
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
</mat-paginator>
  
